.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(30%, 50%));
  grid-row-gap: 2%;
  grid-column-gap: 2%;
  max-width: 100%;
  width: var(--max-width);
}

.section {
  border-style: solid;
  border-width: 0 0 5px;
  border-color: #525252;
  padding: 10px;
  align-self: flex-start;
  margin: 20px 0;
}

.row {
  display: flex;
  margin-left: var(--text-indent);
  align-self: flex-start;
  align-items: center;
  line-height: var(--line-height);
}

.box h5 {
  margin-right: 10px;
}

.row a {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.box {
  display: flex;
  margin-left: var(--text-indent);
  align-self: flex-start;
  align-items: center;
  line-height: var(--line-height);
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.link2 {
  color: var(--high-light-2);
}

.link3 {
  color: var(--high-light-3);
}

.button {
  color: var(--high-light);
  display: flex;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--hover-background);
  }
  .link2:hover {
    background-color: var(--hover-background-2);
  }
  .link3:hover {
    background-color: var(--hover-background-3);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
